<!-- Modal About -->
<div class="modal fade" id="aboutModal" tabindex="-1" aria-labelledby="aboutModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="aboutModalLabel">About PlayMarket</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <p>Welcome to PlayMarket, the best platform to buy and sell video game skins.</p>
        <p>Our mission is to offer a safe, fast, and reliable experience for the gaming community.</p>
        <ul>
          <li>+19,000 positive reviews</li>
          <li>Low commissions</li>
          <li>Secure transactions</li>
          <li>24/7 customer support</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
