<!-- Modal About -->
<div class="modal fade" id="aboutModal" tabindex="-1" aria-labelledby="aboutModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="aboutModalLabel">Sobre PlayMarket</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <p>Bienvenido a PlayMarket, la mejor plataforma para comprar y vender skins de videojuegos.</p>
        <p>Nuestra misi칩n es ofrecer una experiencia segura, r치pida y confiable para la comunidad gamer.</p>
        <ul>
          <li>+19,000 Rese침as positivas</li>
          <li>Comisiones bajas</li>
          <li>Transacciones seguras</li>
          <li>Atenci칩n al cliente 24/7</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
