<div class="container my-4">
  <div class="input-group">
    <%= form_with url: products_path, method: :get, local: true, class: "w-100" do |form| %>
      <div class="input-group">
        <%= form.text_field :query, placeholder: "Buscar skins o cuentas...", class: "form-control", id: "search-bar" %>

        <%= form.select :category, options_for_select(Product.distinct.pluck(:category), params[:category]), { include_blank: "Todas las categorías" }, class: "form-select" %>

        <%= form.submit "Buscar", class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
  <ul id="suggestions" class="list-group mt-2"></ul>
</div>
